/**** Header ****/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header img {
  width: 200px;
}

header .search {
  align-items: center;
  gap: 0.83em;
  width: 100%;
  height: 60px;
}

.fa-location-dot {
  color: rgba(53, 53, 53, 1);
  width: 12px;
  height: 16px;
  border: 1px;
}

.search {
  display: flex;
  justify-content: center;
  background-color: rgba(234, 234, 234, 1);
}

.head-line {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-style {
  text-decoration: none;
  color: black;
}
