.euro {
  font-weight: 700;
  margin-right: 15px;
}

.menu {
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-left: 10px;

  &-cards {
    position: relative;
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -40px;
    padding-top: 8px;

    h1 {
      font-family: Shrikhand;
      font-size: 28px;
      padding-left: 15px;
      padding-right: 28px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }
  }
}

.all-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .card {
    margin: 0px 8px;
    padding: 0px 10px;
    height: 72px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-texte {
      width: 100%;
    }

    &-content {
      margin-left: 15px;
    }
    &-title {
      font-size: 18px;
      margin-bottom: -10px;
    }
    &-subtitle {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      align-items: center;
    }
    .check {
      margin-right: -10px;
      overflow: hidden;
    }
    i {
      display: none;
    }
  }
}

.entete {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.button-commander {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;

  & [type="submit"] {
    height: 50px;
    width: 186px;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 25px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border: 0;
    color: white;
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: 25%;
  padding: 0 1%;
}

.card:hover,
.card:active {
  .check {
    height: 72px;
    width: 0%;
    border-radius: 0 20px 20px 0;
    background-color: #99e2d0;
    animation: check1 1s forwards;

    i {
      float: right;
      display: inline-block;
      padding: 10% 10%;
      border-radius: 50%;
      background-color: white;
      color: #99e2d0;
      animation: check 1s forwards;
    }
  }
}

@keyframes check {
  0% {
    translate: 0;
    rotate: 0deg;
  }
  100% {
    translate: -20px 20px;
    rotate: 360deg;
  }
}

@keyframes check1 {
  100% {
    width: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    &-cards {
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  header img {
    padding: 30px 0;
  }
  .header {
    gap: 40%;
  }
}
