/**** Restaurants ****/
.restaurants {
  margin-bottom: 50px;
  padding: 5%;
  background-color: #f7f7f7;

  section {
    width: 100%;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  &-cards .card {
    height: 251px;
    width: 100%;
  }

  &-cards img {
    height: 175px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 5px;
  }

  &-cards .card {
    &-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-title {
      margin-top: 10px;
      margin-bottom: 4px;
      margin: 8px;
    }

    &-subtitle {
      margin: 8px;
    }
  }
}
