/**** Restaurants ****/

.restaurants section {
  width: 100%;
}

.restaurants {
  margin-bottom: 50px;
}

.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.restaurants-cards .card {
  height: 251px;
  width: 100%;
}

.restaurants-cards img {
  height: 175px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 5px;
}

.restaurants-cards .card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.restaurants-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  margin: 8px;
}

.restaurants-cards .card-subtitle {
  margin: 8px;
}
