/***** General *****/
* {
  font-family: "Roboto", sans-serif;
}

.main-contenair {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.button-explorez {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.button-explorez [type=submit] {
  height: 50px;
  width: 218px;
  background-color: rgb(147, 86, 220);
  border-radius: 25px;
  color: white;
}

.Fonctionnement-btn {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  height: 72.38px;
  width: 70%;
  margin-bottom: 1em;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 16px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 15px;
  gap: 16px;
}

footer img {
  color: white;
  height: 27px;
  width: 137.58px;
}

/**** Header ****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header img {
  width: 200px;
}

header .search {
  align-items: center;
  gap: 0.83em;
  width: 100%;
  height: 60px;
}

.fa-location-dot {
  color: rgb(53, 53, 53);
  width: 12px;
  height: 16px;
  border: 1px;
}

.search {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
}

.head-line {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-style {
  text-decoration: none;
  color: black;
}

/**** Restaurants ****/
.restaurants section {
  width: 100%;
}

.restaurants {
  margin-bottom: 50px;
}

.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.restaurants-cards .card {
  height: 251px;
  width: 100%;
}

.restaurants-cards img {
  height: 175px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 5px;
}

.restaurants-cards .card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.restaurants-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  margin: 8px;
}

.restaurants-cards .card-subtitle {
  margin: 8px;
}

.euro {
  font-weight: 700;
  margin-right: 15px;
}

.menu {
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-left: 10px;
}

.menu-cards {
  position: relative;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -40px;
  padding-top: 8px;
}

.all-card .card {
  margin-left: 8px;
  height: 72px;
  width: 349px;
}

.all-card .card-content {
  margin-left: 15px;
}

.all-card .card-title {
  font-size: 18px;
  padding-top: 15px;
  margin-bottom: -10px;
}

.all-card .card-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.entete {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-commander {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.button-commander [type=submit] {
  height: 50px;
  width: 186px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0;
  color: white;
}

.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px 0px;
}/*# sourceMappingURL=style.css.map */