/**** Header ****/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    width: 200px;
  }
  .search {
    align-items: center;
    gap: 0.83em;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(234, 234, 234, 1);
    box-shadow: inset 0px 2px 4px 0px #00000026;
  }
}

.fa-location-dot {
  color: rgba(53, 53, 53, 1);
  width: 12px;
  height: 16px;
  border: 1px;
}

.head-line {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-style {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  header {
    .search {
      box-shadow: unset;
    }
  }
}
