/**** Restaurants ****/
.restaurants {
  padding: 5% 5% 10% 5%;
  background-color: #f7f7f7;

  section {
    width: 100%;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;

    img {
      height: 175px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border: 5px;
    }

    .card {
      height: 251px;
      width: 100%;
      &-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .heart-contener {
          padding: 20px;

          &:hover {
            background-color: linear-gardiant(#ff79da, #9356dc);
          }
        }
      }

      &-title {
        margin-top: 10px;
        margin-bottom: 4px;
        margin: 8px;
      }

      &-subtitle {
        margin: 8px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .restaurants {
    &-cards {
      grid-template-columns: 1fr 1fr;
      gap: 10% 5%;
    }
  }
}
