/***** General *****/
* {
  font-family: "Roboto", sans-serif;
}

header img {
  padding: 15px 0px;
}

.main-contenair {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.fonctionnement {
  padding: 2% 5%;
}
.fonctionnement-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement-btn p {
  margin: 0;
  text-align: center;
  width: 100%;
}
.fonctionnement-btn button:hover i {
  color: #9356dc;
}
.fonctionnement-btn button {
  background-color: #f6f6f6;
  border: none;
  border-radius: 25px;
  height: 72.38px;
  width: 96%;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 15px;
}
.fonctionnement-btn button span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  margin-left: -18px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-title {
  font-size: 16px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 15px;
  gap: 16px;
}
footer i {
  display: inline-block;
  width: 10px;
  margin-right: 12px;
}
footer ul {
  list-style: none;
  margin-left: -20px;
}
footer ul li {
  padding-bottom: 7px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 24px;
  margin: 0;
  padding-left: 15px;
  font-weight: 400;
}

.hero {
  background-color: #f7f7f7;
  text-align: center;
}
.hero h1 {
  font-size: 24px;
  margin: auto;
  width: 70%;
  padding-top: 20px;
}
.hero p {
  margin: auto;
  width: 80%;
  padding: 20px 0;
  font-weight: 300;
}
.hero .button-explorez {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.hero .button-explorez:hover {
  opacity: 0.8;
}
.hero .button-explorez [type=submit] {
  height: 50px;
  width: 218px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  border-radius: 25px;
  color: white;
}

.new {
  color: #008766;
  background-color: #99e2d0;
  padding: 1% 5%;
  display: flex;
  border-radius: 5px;
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 40px;
    text-align: center;
  }
  .hero p {
    text-align: center;
    font-size: 18px;
  }
  .fonctionnement-btn {
    flex-direction: row;
    gap: 2%;
  }
  .fonctionnement-btn p {
    text-align: start;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
/**** Header ****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header img {
  width: 200px;
}
header .search {
  align-items: center;
  gap: 0.83em;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.fa-location-dot {
  color: rgb(53, 53, 53);
  width: 12px;
  height: 16px;
  border: 1px;
}

.head-line {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-style {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  header .search {
    box-shadow: unset;
  }
}
/**** Restaurants ****/
.restaurants {
  padding: 5% 5% 10% 5%;
  background-color: #f7f7f7;
}
.restaurants section {
  width: 100%;
}
.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
.restaurants-cards img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 60%;
     object-position: 0% 60%;
  height: 175px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 5px;
}
.restaurants-cards .card {
  height: 251px;
  width: 100%;
}
.restaurants-cards .card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards .card-content .heart-contener {
  padding: 15px;
  position: relative;
  left: -15px;
}
.restaurants-cards .card-content .heart-contener .fa-regular,
.restaurants-cards .card-content .heart-contener .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
}
.restaurants-cards .card-content .heart-contener .fa-regular {
  transform: translate(35%, 35%) scale(1.5);
  transition: all 1s;
}
.restaurants-cards .card-content .heart-contener .fa-solid {
  opacity: 0;
  transform: translate(35%, 35%) scale(0);
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}
.restaurants-cards .card-content .heart-contener:hover .fa-regular {
  transform: translate(35%, 35%) scale(0);
  transition: transform 0.5s;
}
.restaurants-cards .card-content .heart-contener:hover .fa-solid {
  display: block;
  opacity: 1;
  transition: transform 0.5s 0.5s, opacity 0.5s 0.1s;
  transform: translate(35%, 35%) scale(1.5);
}
.restaurants-cards .card-title {
  margin: 8px 15px;
}
.restaurants-cards .card-subtitle {
  margin: 8px 15px;
}

@media screen and (min-width: 1024px) {
  .restaurants-cards {
    grid-template-columns: 1fr 1fr;
    gap: 10% 5%;
  }
}
@media screen and (min-width: 768px) {
  .restaurants-cards {
    grid-template-columns: 1fr 1fr;
    gap: 5% 2.5%;
  }
}
.euro {
  font-weight: 700;
  margin-right: 15px;
}

.menu {
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-left: 10px;
}
.menu-cards {
  position: relative;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -40px;
  padding-top: 8px;
  animation: menu 0.5s forwards;
}
.menu-cards .heart-contener {
  padding: 25px;
  position: relative;
  left: -15px;
}
.menu-cards .heart-contener .fa-regular,
.menu-cards .heart-contener .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-cards .heart-contener .fa-regular {
  transform: translate(35%, 35%) scale(1.5);
  transition: all 1s;
}
.menu-cards .heart-contener .fa-solid {
  opacity: 0;
  transform: translate(35%, 35%) scale(0);
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}
.menu-cards .heart-contener:hover .fa-regular {
  transform: translate(35%, 35%) scale(0);
  transition: transform 0.5s;
}
.menu-cards .heart-contener:hover .fa-solid {
  display: block;
  opacity: 1;
  transition: transform 0.5s 0.5s, opacity 0.5s 0.1s;
  transform: translate(35%, 35%) scale(1.5);
}
.menu-cards .animationcard {
  opacity: 0;
  animation: card 1s forwards 0.5s;
}
.menu-cards .animationcard1 {
  opacity: 0;
  animation: card 1s forwards 1s;
}
.menu-cards .animationcard2 {
  opacity: 0;
  animation: card 1s forwards 1.5s;
}
.menu-cards .all-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-cards .all-card .card {
  margin: 0px 8px;
  padding-left: 10px;
  height: 72px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-cards .all-card .card-texte {
  width: 100%;
  overflow: hidden;
}
.menu-cards .all-card .card-texte h3,
.menu-cards .all-card .card-texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards .all-card .card-content {
  margin-left: 15px;
}
.menu-cards .all-card .card-title {
  font-size: 18px;
  margin-bottom: -10px;
}
.menu-cards .all-card .card-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}
.menu-cards .all-card .card .check {
  overflow: hidden;
  height: 72px;
  width: 0px;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  transition: width 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-cards .all-card .card .check i {
  height: 18px;
  padding: 10% 10%;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  transition: transform 1s, opacity 1s ease-in-out;
  transform: rotate(0deg) scale(1);
}
.menu-cards .all-card .card:hover .check,
.menu-cards .all-card .card:active .check {
  width: 75px;
}
.menu-cards .all-card .card:hover .check i,
.menu-cards .all-card .card:active .check i {
  opacity: 1;
  transform: rotate(360deg);
  transform-origin: center;
}
.menu-cards h1 {
  font-family: Shrikhand;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 28px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.entete {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-commander {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.button-commander [type=submit] {
  height: 50px;
  width: 186px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 25%;
  padding: 0 1%;
}

@keyframes menu {
  0% {
    transform: translatey(-5%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
@keyframes card {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .menu-cards {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
  header img {
    padding: 30px 0;
  }
  .header {
    gap: 40%;
  }
}
/**** loader ***/
.loader-contener {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  animation: 6s loader forwards;
}
.loader-contener .superpose {
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -32px;
}
.loader-contener .superpose .Ohmyfood {
  animation: ohmyfood 2s forwards;
  opacity: 0;
}
.loader-contener .superpose .Ohmyfood,
.loader-contener .superpose .Ohmyfood2 {
  position: absolute;
  text-align: center;
  font-family: Shrikhand;
  font-size: 24px;
}
.loader-contener .superpose .Ohmyfood2 {
  background: linear-gradient(#ff79da, #9356dc);
  padding: 0 500px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: TextColor 3s forwards 2s;
  opacity: 0;
}
.loader-contener .loading {
  display: flex;
  text-align: center;
  font-size: 13px;
  margin-bottom: 28px;
}
.loader-contener .loading span {
  animation: loading 4s forwards;
  opacity: 0;
}
.loader-contener .loading span:nth-child(1) {
  animation-delay: 0s;
}
.loader-contener .loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-contener .loading span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader-contener .loading span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader-contener .loading span:nth-child(5) {
  animation-delay: 0.8s;
}
.loader-contener .loading span:nth-child(6) {
  animation-delay: 1s;
}
.loader-contener .loading span:nth-child(7) {
  animation-delay: 1.2s;
}
.loader-contener .loading span:nth-child(8) {
  animation-delay: 1.4s;
}
.loader-contener .loading span:nth-child(9) {
  animation-delay: 1.6s;
}
.loader-contener .loading span:nth-child(10) {
  animation-delay: 1.8s;
}
.loader-contener .casseroleflame {
  width: 150px;
  height: 24px;
  position: relative;
}
.loader-contener .casseroleflame .casserole {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 20px 0 0 20px;
  border-radius: 100% 0% 50% 50%/0% 0% 100% 100%;
}
.loader-contener .casseroleflame .manche {
  width: 50%;
  height: 50%;
  background-color: #999;
  position: absolute;
  top: -10%;
  left: 95%;
  transform: translate(0, -50%);
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
}
.loader-contener .casseroleflame .group-flames {
  animation: startflame 5s forwards;
}
.loader-contener .casseroleflame .group-flames .flames {
  position: absolute;
  bottom: -40%;
  right: 0%;
  width: 60%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, orange 30%, red 80%);
  border-radius: 100% 0% 75% 25%/100% 0% 100% 0%;
  animation: flames 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames1 {
  position: absolute;
  bottom: -40%;
  left: 0%;
  width: 60%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, orange 30%, red 80%);
  border-radius: 0% 100% 25% 75%/0% 100% 0% 100%;
  animation: flames1 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames2 {
  position: absolute;
  bottom: -35%;
  right: 10%;
  width: 40%;
  transform: rotate(-2deg);
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, orange 30%, red 80%);
  border-radius: 100% 0% 75% 25%/100% 0% 100% 0%;
  animation: flames 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames3 {
  position: absolute;
  bottom: -35%;
  left: 10%;
  transform: rotate(2deg);
  width: 40%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, orange 30%, red 80%);
  border-radius: 0% 100% 25% 75%/0% 100% 0% 100%;
  animation: flames1 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames4 {
  position: absolute;
  bottom: -35%;
  right: 20%;
  width: 30%;
  transform: rotate(-4deg);
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, orange 30%, red 80%);
  border-radius: 100% 0% 75% 25%/100% 0% 100% 0%;
  animation: flames 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames5 {
  position: absolute;
  bottom: -35%;
  left: 20%;
  transform: rotate(4deg);
  width: 30%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, orange 30%, red 80%);
  border-radius: 0% 100% 25% 75%/0% 100% 0% 100%;
  animation: flames1 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames6 {
  position: absolute;
  bottom: -35%;
  right: 30%;
  width: 20%;
  transform: rotate(-6deg);
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, orange 30%, red 80%);
  border-radius: 100% 0% 75% 25%/100% 0% 100% 0%;
  animation: flames 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames7 {
  position: absolute;
  bottom: -35%;
  left: 30%;
  transform: rotate(6deg);
  width: 20%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, orange 30%, red 80%);
  border-radius: 0% 100% 25% 75%/0% 100% 0% 100%;
  animation: flames1 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames8 {
  position: absolute;
  bottom: -33%;
  right: 38%;
  width: 15%;
  transform: rotate(-8deg);
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, orange 30%, red 80%);
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  animation: flames2 1s infinite;
}
.loader-contener .casseroleflame .group-flames .flames9 {
  position: absolute;
  bottom: -33%;
  left: 38%;
  transform: rotate(6deg);
  width: 15%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, orange 30%, red 80%);
  border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  animation: flames3 1s infinite;
}

@media screen and (min-width: 400px) {
  .loader-contener .superpose {
    top: -44px;
  }
  .loader-contener .superpose .Ohmyfood,
  .loader-contener .superpose .Ohmyfood2 {
    font-size: 32px;
  }
  .loader-contener .loading {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .loader-contener .casseroleflame {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .loader-contener .superpose {
    top: -80px;
  }
  .loader-contener .superpose .Ohmyfood,
  .loader-contener .superpose .Ohmyfood2 {
    font-size: 64px;
  }
  .loader-contener .loading {
    font-size: 35px;
    margin-bottom: 70px;
  }
  .loader-contener .casseroleflame {
    width: 450px;
    height: 60px;
  }
}
@keyframes loader {
  90% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes ohmyfood {
  0% {
    transform: translateY(-250%);
  }
  85% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: translateY(-500%);
  }
  85% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes TextColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes startflame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flames {
  0% {
    border-radius: 100% 0% 75% 25%/100% 20% 80% 0%;
  }
  20% {
    border-radius: 75% 25% 50% 50%/100% 0% 100% 0%;
  }
  40% {
    border-radius: 50% 50% 75% 25%/100% 20% 80% 0%;
  }
  60% {
    border-radius: 25% 75% 50% 50%/100% 0% 100% 0%;
  }
  80% {
    border-radius: 50% 50% 75% 25%/100% 20% 80% 0%;
  }
  100% {
    border-radius: 75% 25% 50% 50%/100% 0% 100% 0%;
  }
}
@keyframes flames1 {
  0% {
    border-radius: 0% 100% 25% 75%/20% 100% 0% 80%;
  }
  20% {
    border-radius: 25% 75% 50% 50%/0% 100% 0% 100%;
  }
  40% {
    border-radius: 50% 50% 25% 75%/20% 100% 0% 80%;
  }
  60% {
    border-radius: 75% 25% 50% 50%/0% 100% 0% 100%;
  }
  80% {
    border-radius: 50% 50% 25% 75%/20% 100% 0% 80%;
  }
  100% {
    border-radius: 25% 75% 50% 50%/0% 100% 0% 100%;
  }
}
@keyframes flames2 {
  0% {
    border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  }
  20% {
    border-radius: 100% 0% 100% 0%/85% 15% 85% 15%;
  }
  40% {
    border-radius: 100% 0% 100% 0%/80% 20% 80% 20%;
  }
  60% {
    border-radius: 100% 0% 100% 0%/80% 20% 80% 20%;
  }
  80% {
    border-radius: 100% 0% 100% 0%/85% 15% 85% 15%;
  }
  100% {
    border-radius: 100% 0% 100% 0%/90% 10% 90% 10%;
  }
}
@keyframes flames3 {
  0% {
    border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  }
  20% {
    border-radius: 0% 100% 0% 100%/15% 85% 15% 85%;
  }
  40% {
    border-radius: 0% 100% 0% 100%/20% 80% 20% 80%;
  }
  60% {
    border-radius: 0% 100% 0% 100%/20% 80% 20% 80%;
  }
  80% {
    border-radius: 0% 100% 0% 100%/15% 85% 15% 85%;
  }
  100% {
    border-radius: 0% 100% 0% 100%/10% 90% 10% 90%;
  }
}/*# sourceMappingURL=style.css.map */